
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Fallback color */
    transition: background 2s ease-out,
    padding 0.8s linear;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 20px;
    width: 40%; /* Could be more or less, depending on screen size */
    height: 40vh;
    transition: background 2s ease-out,
    padding 0.8s linear;
  }



.box {
    height: 15vh;
    width: 15vh;
    visibility: hidden;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
}

#box1 {
    background-color: blue;
    
}
#box2 {
    background-color: green;

}
#box3 {
    background-color: purple;

}
#box4 {
    background-color: pink;

}
#box5 {
    background-color: red;

    
}
#box6 {
    background-color: orange;

}
#box7 {
    background-color: lavender;

}
#box8 {
    background-color:lawngreen;

}

.up {
    visibility: visible;
}